@model QuanLyDaoTao.Models.LopHocPhan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LopHocPhan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaLop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaLop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhoaHoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhoaHoc.TenKhoaHoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiangVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiangVien.HoTen)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
